@font-face {
  font-family: 'Offside';
  src: url('/assets/fonts/Offside-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NicoMoji';
  src: url('/assets/fonts/NicoMoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
